fastapi
uvicorn[standard]
python-multipart

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
langchain_chroma

huggingface_hub

chromadb

pdfplumber

motor

python-dotenv
pydantic
pydantic-settings

httpx
numpy
orjson

python-json-logger